{% extends "base.html" %}

{% block content %}    
    <h2>Upload new files</h2>
    Please save the raw image and annotate. Upload the new map.json generated. Images should refresh after an upload.
    <p>You can also upload a new state dict of a trained mobilenetV3 large model.</p>
    <form class="form-upload" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    <hr></hr>
        <div class="row">
            <div class="col">
                <figure class="figure">
                    <img class="figure-img img-fluid", src="{{ url_for('static', filename='img/raw.jpg') }}" alt="">
                    <figcaption class="figure-caption">Raw camera view</figcaption>
                </figure>        
            </div>
            <div class="col">
                <figure class="figure">
                    <img class="figure-img img-fluid", src="{{ url_for('static', filename='img/output.jpg') }}" alt="">
                    <figcaption class="figure-caption">Plotted parking spaces</figcaption>
                </figure> 
            </div>
        </div>
    <a type="button" class="btn btn-secondary" href="{{ url_for('static', filename='img/raw.jpg') }}" download="raw.jpg">Download RAW image</a>
{% endblock %}